@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
    font-family: 'Fira Code';
}

body{
    background-color: rgba(43,2,57,1); 
    background-image: linear-gradient(0deg, rgba(143,10,182,1) 0%, rgba(183,32,136,1) 50%, rgba(43,2,57,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

/* nav */
nav{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #2B0239;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

nav h3{
    font-size: 43px;
    padding-left: 30px;
}

nav a{
    text-decoration: none;
    color: white;
}

#about-button:hover{
    width: 100%;
    height: 70px;
    background-color: #7158A6;
}

nav a:hover{
    background-color: #7158A6;
}

#links{
    gap: 25px;
    font-size: 17px;
    padding-right: 30px;
}

.resume-button{
    background-color: #7158A6;
    padding: 8px;
    border: none;
    border-radius: 5px;
    max-height: 45px;
    color: white;
}


.resume-button:hover{
    box-shadow: 2px 2px 20px #2B0239;
    cursor: pointer;
    border: solid 1px black;
}

/* intro */
.main-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;    
    position: absolute;
    top: 80px;
    flex-direction: column;
}

.main-intro a{
    text-decoration: none;
    color: rgb(206, 95, 240);
    font-weight: 700;
}

.intro-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.intro-text h5{
    font-weight: 300;
}

h2{
    font-size: 40px;
    font-weight: 400;
    padding: 8px;
    align-self: flex-start;
}


#foto-bpa{
    max-height: 350px;
    min-height: 150px;
    width: auto;
    flex: auto;
    padding: 8px;
}

h3{
    align-self: flex-start;
    font-size: 30px;
}

.coluna{
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
    padding: 8px;
}